.listing-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
  font-size: 14px;
}

.phone-number {
  color: #a4dcb4;
  margin-top: 6px;
}

.address {
  margin-top: 12px;
}

.dietary-icon {
  margin-right: 6px;
  color: #173434;
}

.dietary-icons {
  margin-top: 28px;
}
