.voting-container {
  width: 516px;
}

.restaurant-name-and-voting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restaurant-name {
  font-size: 24px;
  font-weight: bold;
}
.haslink:hover {
  color: #a4dcb4;
}

.votes {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #a4dcb4;
}

.went-listing-button {
  height: 30px;
  width: 42px;

  color: #d9f0df;
  background-color: #a4dcb4;
  border-radius: 6px;
  border: none;
  margin-left: 16px;
  margin-top: -4px;
  transition: all 0.2s;
}
.went-listing-button:hover {
  background-color: #004c45;
}

.vote-button {
  color: #a4dcb4;
  background: transparent;
  height: 20px;
  border: none;
}

.vote-icon {
  margin-left: 10px;
}

.vote-icon:hover {
  transition: all 0.2s;
  color: #004c45;
}

.name-container {
  display: flex;
  flex-direction: row;
}

.delete-listing-button {
  border: none;
  background: transparent;
  margin-top: -14px;
  margin-left: 10px;
  color: #c3d8c9;
  font-size: 16px;
}
.delete-listing-button:hover {
  color: #004c45;
}
