.listing {
  background-color: #ffffff;
  width: 434px;
  min-height: 70px;
  margin-bottom: 14px;
  margin-left: 20px;
  padding: 20px 20px;
  border-radius: 20px;
}

.listing-flex {
  display: flex;
  flex-direction: column;
}
