.listing-container {
  background-color: #d9f0df;
  width: 590px;
  height: 60vh;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}

.listings {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #c3d8c9;
}

.searchbar-container {
  margin: 20px;
}

.searchbar {
  width: 528px;
  height: 34px;
  background: #edf6f0;
  border-radius: 12px;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
}

.listings-title {
  font-weight: 300;
  font-size: 30px;
  color: #173434;
  margin-bottom: 16px;
  margin-left: 32px;
}

.listings-header {
  display: flex;
  flex-direction: row;
}

.generate-button {
  width: 55px;
  height: 38px;
  background-color: #a4dcb4;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  margin-left: 20px;
  transition: all 0.2s;
}

.generate-button:hover {
  background-color: #004c45;
}

body.active-modal {
  overflow-y: hidden;
}

.add-button {
  width: 56px;
  height: 56px;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  background-color: #004c45;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-button:hover {
  background-color: #173434;
}

.add-button-container {
  position: fixed;
  right: 14%;
  bottom: 13%;
}

.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.6);
}

.modal-content {
  position: absolute;
  top: 35%;
  left: 35%;
  background: #ffffff;
  padding: 60px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-modal {
  position: absolute;
  border: none;
  background: transparent;
  top: 20px;
  right: 24px;
  color: #c3d8c9;
  font-size: 20px;
}

.generate-title {
  color: #173434;
  font-weight: 500;
  font-size: 50px;
}

.generate-text {
  font-weight: 400;
  font-size: 20px;
  margin-top: 8px;
}

.address {
  color: #173434;
}

.rating {
  color: #173434;
}

.phone {
  color: #a4dcb4;
  margin-bottom: 26px;
}

.star {
  color: #f8d376;
  margin-right: 6px;
}

.went-button {
  width: 64px;
  height: 40px;
  background: #a4dcb4;
  border-radius: 8px;
  color: #d9f0df;
  border: none;
  transition: all 0.2s;
  margin-left: 20px;
}
.went-button:hover {
  background-color: #004c45;
}

.generate-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.generate-dietary {
  color: #173434;
}

.dietary-icons {
  margin-right: 6px;
}
