.listing {
  background-color: #ffffff;
  width: 516px;
  height: 76px;
  margin-bottom: 16px;
  margin-left: 20px;
  padding: 24px 20px;
  border-radius: 20px;
}

.listing-flex {
  display: flex;
  flex-direction: column;
}
