.listing-container {
  background-color: #d9f0df;
  width: 590px;
  height: 631px;
  border-radius: 30px;
}

.listings-title {
  font-weight: 300;
  font-size: 30px;
  color: #173434;
  margin-bottom: 16px;
  margin-left: 32px;
}

.listings-header {
  display: flex;
  flex-direction: row;
}

.generate-button {
  width: 55px;
  height: 38px;
  background-color: #a4dcb4;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  margin-left: 20px;
  transition: all 0.2s;
}

.generate-button:hover {
  background-color: #004c45;
}
