.listing {
  background-color: #ffffff;
  width: 516px;
  height: 124px;
  margin-bottom: 24px;
  margin-left: 20px;
  padding: 18px;
  border-radius: 25px;
}

.listing-flex {
  display: flex;
  flex-direction: column;
}
