.App {
  background-color: #ffffff;
  font-family: "Libre Franklin", sans-serif;
  padding: 0px 150px 0px 150px;
}

.App-logo {
  width: 207px;
  height: 109px;
}

header {
  font-size: 50px;
  color: #173434;
  margin-top: 10px;
}

.PIKA-header {
  font-weight: bold;
  margin-right: 10px;
}

.title {
  display: flex;
  flex-direction: row;
}

.app-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 90px 0px 20px 0px;
}

.listing-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0px 50px 0px 50px;
}
